.strength-info > span{
  font-weight: bold;
}
.achievement{
  display: none;
}
.achievement.open{
  display: block;
}
.almond{
  color: #FCB363;
}
.caramel{
  color: #BE5F40;
}
.mocha{
  color: #F5CD92;
}
